.output{ 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.history {
    color: var(--color-history);
}

.result {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--color-text);
    padding: 0 0.5rem;
    font-size: 2rem;
}