:root {
    --color-toggle-bg: #A9DCFD;
    --color-toggle-selected: #D8EEFF;
    --color-display: linear-gradient(166.34deg, #FEFEFE 0%, #F9F9F9 12.84%, #F3F3F3 32.53%, #E5E5E5 100%);
    --color-buttons-container: linear-gradient(244.38deg, #9EE8FF 8.14%, #5ACEFF 27.9%, #79AFFF 56.94%, #2D5FDE 84.11%);
    --color-buttons-bg: rgba(230, 246, 255, 0.2);
    --color-buttons-bg-opaque: rgba(255, 255, 255, 0.3);
    --color-text: #373737;
    --color-history: rgba(55, 55, 55, 0.5);
    --color-rectangle: #6396C5;
}

@media screen and (max-width: 400px) {
    :root {
        font-size: 10px;
    }
}

